html {
	overflow-y: scroll; /*keep scroll bar on all pages to avoid shifting body*/
}

#wrapper{
	font: 15px/22px Georgia, serif;
	width: 900px;
	margin: auto;
}

#header{
	display: inline-block;
	padding: 32px 0;
	width: 40%;
}
	
#navigation{
	display: inline-block;
	padding: 0 0 17px 0;
	vertical-align: bottom;
	text-align: center;
	width: 59%;
}

#navigation ul li{
	list-style: none;
	display: inline;
}

#navigation ul a{
	padding: 0px 9px 2px 9px;
	border-radius: 2px;
	background-color: hsl(20, 5%, 90%);
	border: 1px solid hsl(20, 5%, 90%);
	color: inherit;
	text-decoration: none;
}

#navigation ul a.here{
	border: 1px solid hsl(20, 5%, 70%);
}
	
#navigation ul a:hover{
	background-color: hsl(20, 5%, 70%);
	border: 1px solid hsl(20, 5%, 70%);
}
	
#cover{
	display: inline-block;
	padding: 13px 3% 22px 3%;
	width: 34%;
}	

#description{
	display: inline-block;
	vertical-align: top;
	padding: 10px 3% 0 1%;
	width: 55%;
}

#endorsements{
	padding: 0 3%;
	width: 93%;
}

p{
	margin-top: 5px;
}
	
img{
	max-width: 100%;
}

a{
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted;
}

#contactinfo, #buyingLinks, #contents, #resourceLinks{
	padding: 20px 3%;
}

#contactinfo ul li, #buyingLinks ul li{
	list-style: none;
	padding: 2px 0 6px 0;
}

#buyingLinks{
	max-width: 550px;
}

#contents ul, #resourceLinks ul{
	list-style: none;
	padding-left: 20px;
}

#contents > ul > li, #resourceLinks > ul > li{
	margin-top: 8px;
}

#contents  ol{
	margin-left: 10px;
}

#resourceLinks ul ul{
	padding-left: 30px;
}

.expandable, .collapsible{
	cursor: pointer;
}

.expandable .symbol{
	display: inline-block;
	margin-left: 20px;
	opacity: 0.4;
	border-top: 9px solid black;
	border-right: 5px solid transparent;
	border-bottom: none;
	border-left: 5px solid transparent;
}

.collapsible .symbol{
	display: inline-block;
	margin-left: 20px;
	opacity: 0.4;
	border-top: none;
	border-right: 5px solid transparent;
	border-bottom: 9px solid black;
	border-left: 5px solid transparent;
}

